        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>Create a New User</h4>
                <form action="/users/" method="post" class="form">
                    <div class="form-group">
                        <label for="pwd">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Their name" />
                    </div>
                    <div class="form-group">
                        <label for="pwd">Age</label>
                        <input type="text" name="age" class="form-control" placeholder="Their age" />
                    </div>
                    <input type="submit" value="Create user" class="btn btn-primary" />
                </form>
            </div>
            <div class="col-md-4">
                <h4>Current Users</h4>
                <% @users.each do |user| %>
                    <p class="lead">
                        <%= user.name %>, age <%= user.age %>
                    </p>
                <% end %>
                </p>
            </div>
        </div><!--.row-->