        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <form action="/form/" method="post" class="form">
                    <div class="form-group">
                        <label for="pwd">Your name</label>
                        <input type="text" name="name" class="form-control" placeholder="Your name" />
                    </div>
                    <input type="submit" value="It's me!" class="btn btn-primary" />
                </form>
            </div>
            <div class="col-md-4">
                <p class="lead">
                    <% if session['name'] %>
                        Hello there <%= session['name'] %>
                    <% else %>
                        Please tell us who you are.
                    <% end %>
                </p>
            </div>
        </div><!--.row-->